html, body, #__next {
    height: 100vh;
}

body {
    font-family: OpenSans,sans-serif;
    background: #20252d;
    color: #fff;
    margin: 0;
}

.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {

  padding-top: 50px;

}

h1 {
  font-size: 2em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav a {
  color: #fff;
}

button {
    background-color: #00bfaa; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
    font-size:1.5em;
    outline: none;
}

/* NProgress stuff */


#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #00bfaa;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 5px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px#00bfaa, 0 0 5px #00bfaa;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #00bfaa;
  border-left-color: #00bfaa;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}